*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
a{
  text-decoration:none;
}
body {
  padding: 0;
  margin: 0;
  background-color: darkcyan;
  box-sizing: border-box;
}
#title{
    color:black;
    font-style: oblique;
    margin-left: 6px; 
    box-shadow: 0px 4px 31px 10px rgba(0,0,0,0.87);
    font-weight:700;
    
}
.shopName{
  color:orange;
  font-size:35px;
  font-style: oblique;
  font-weight:900;

}

#items {
  margin: 0px;
  padding: 0;
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}

.item {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 5px solid whitesmoke;
}

.image {
  height: 200px;
  width: 100%;
}

#header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px ;
  border: 5px solid white;
}
.shop {
  height: 50px;
  width: 50px;
}

.left-menu {
  display: flex;
  flex-direction: row;
}

.left-menu li {
  position: relative;
  display: flex;
  margin: 15px;
}
.left-menu li a {
  color: darkorange;
}
.left-menu a:hover {
  color: black;
}

.right-menu a {
  margin: 0;
  color: black;
}
.right-menu a:hover {
  color: orange;
}

#items2 {
  margin: 20px;
  padding: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}

#items3 {
  margin: 20px;
  padding: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}

.full-slider {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 25px;
}





