* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  padding: 0;
  margin-top: 0;
  background-color: rgb(223, 223, 223);
  box-sizing: border-box;
}
/*----------------------------------------------- logo ---------------------------------------------------------*/
#title {
  color: black;
  font-style: oblique;
  margin-left: 6px;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.87);
  font-weight: 700;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
  background-color: rgb(223, 223, 223);
  
}
.shopName {
  color: orange;
  font-size: 35px;
  font-style: oblique;
  font-weight: 900;
}

#allItem {
  margin: 50px auto 80px;
  height: 100%;
  width: 80%;

  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  
}
/*-----------------------------t-shirt---------------------------------*/
#items {
  margin: 50px auto ;
  height: 900px;
  width: 80%;

  display: flex;
  flex-direction: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  
}

.item {
  width: 30%;
  height: 330px;
  margin: 15px 15px 50px;
  justify-content: space-between;
  align-items: center;

  border: 2px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #000000;
  
}
.item p {
  padding-top: 10px;
  font-size: 25px;
  font-style: italic;
  margin-left: 15px;
  font-weight: bolder;
  
}
.item .price {
  font-size: 30px;
  color: rgb(12, 172, 12);
}
.item button {
  font-size: 20px;
  font-weight: bold;
  background-color: orange;
  float: right;
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
  font-style: italic;
  margin-right: 15px;
  
}
.item button:hover {
  background-color: black;
  color: orange;
  cursor: pointer;
  
}

.image {
  height: 200px;
  width: 100%;
  
}

/*----------------------------------------------- cart item -----------------------------------------*/
.item-cart{
  width: 30%;
  height: 340px;
  margin: 15px 15px;
  justify-content: space-between;
  align-items: center;

  border: 2px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #000000;
}

.item-cart p {
  padding-top: 10px;
  font-size: 25px;
  font-style: italic;
  margin-left: 15px;
  font-weight: bolder;
}
.item-cart .price {
  font-size: 30px;
  color: rgb(12, 172, 12);
}
.item-cart .btn3 {
  font-size: 20px;
  font-weight: bold;
  background-color: orange;
  float: right;
  border-radius: 5px;
  padding: 0 23px 0 23px;
  font-style: italic;
  margin: 10px 5px 10px 15px;
}
.item-cart .btn3:hover {
  background-color: black;
  color: orange;
  cursor: pointer;
}
.item-cart .remove {
  font-size: 20px;
  background-color: orange;
  color: black;
  border-radius: 5px;
  float: left;
  margin: 10px 5px 10px 15px;
  padding: 2px 10px 2px 10px;
  font-weight: bolder;
  font-style: italic;
}
.item-cart .remove:hover {
  color: orange;
  background-color: black;
  cursor: pointer;
}




/*-------------------------------------------------- header -----------------------------------------*/


#header {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  border-bottom: 5px solid orange;
  position: fixed;
  background-color: white;
  margin-top: -20px;
}

/*----------------------------------------------- left && right menu -----------------------------------------------*/
.shop {
  height: 42px;
  width: 42px;
  color: orange;
  margin-right: 15px;
}
.shop:hover {
  color: black;
}

.left-menu {
  display: flex;
  flex-direction: row;
}

.left-menu li {
  position: relative;
  display: flex;
  margin: 15px;
}
.left-menu li a {
  color: darkorange;
}
.left-menu a:hover {
  color: black;
}

.right-menu a {
  margin: 0;
  color: black;
}
.right-menu a:hover {
  color: orange;
}

/*----------------------------------------------------- jeans item ----------------------------------------*/
#items2 {
  margin: 50px auto;
  height: 900px;
  padding: 0;
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}
/*----------------------------------------------------- shoes item ------------------------------------------*/
#items3 {
  margin: 50px auto;
  height: 900px;
  padding: 0;
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}
/*---------------------------------------------------- slider -----------------------------------------------------*/
.full-slider {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 25px;
  
}

.slide-1 {
  background-image: url("./images/top-view-color-t-shirt-grey-wood-plank-background_30478-1351.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide-2 {
  background-image: url("./images/pexels-photo-1598507.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide-3 {
  background-image: url("./images/shoe-1743929__340.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider-text {
  width: 80%;
  height: 90%;
  display: flex;
  align-items: center;
}
.f-slider-text {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  font-style: italic;
}
.f-slider-text strong {
  color: white;
  font-size: 4rem;
  line-height: 55px;
  margin-top: 10px;
  letter-spacing: 1px;
}
.f-slider-text span {
  letter-spacing: 6px;
  color: white;
  font-weight: 500px;
  font-size: 2rem;
}
.slider-btn {
  width: 170px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bolder;
  background-color: rgba(153, 77, 27, 0.685);
  margin-top: 10px;
  border-radius: 5px;
  font-style: italic;
}

#slider {
  margin: 25px auto 0;
  width: 1000px;
  height: 400px;
  overflow: hidden;
  box-shadow: 5px 3px 5px 3px rgb(107, 72, 72);
  margin-top: 80px;
  border-radius: 5px;
}

#slider .slides {
  display: block;
  width: 6000px;
  height: 400px;
  margin: 0;
  padding: 0;
}

#slider .slide {
  float: left;
  list-style-type: none;
  width: 1000px;
  height: 400px;
}

/*------------------------------------------------- footer ----------------------------------------------------*/
.footer {
  text-align: center;
  font-size: 15px;
  color: black;
  font-weight: bold;
  position: fixed;
  padding-top: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  align-items: center;
  border-top: 5px solid orange;
}

.shop2 {
  color: orange;
}
/*---------------------------------------------------- home ---------------------------------------------*/
.homeTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 50px;
  margin: 20px auto 0 auto;
  font-style: italic;
}
.slider-btnS {
  width: 170px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgba(153, 77, 27, 0.685);
  margin-top: 10px;
  font-size: 25px;
  border-radius: 5px;
  font-weight: bolder;
}
/*------------------------------------------------- shop cart number --------------------------------------*/
.shopCart p {
  position: absolute;
  font-size: 20px;
  margin: -50px 0 0 62px;
  font-weight: bold;
  color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: orange;
  padding-left: 5px;
  font-weight: bolder;
}
/*---------------------------------------------------  cart items ---------------------------------------------*/
#addedItem {
  margin: 65px auto;

  width: 60%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}
#addedItem .btn3 {
  font-size: 20px;
  background-color: orange;
  color: black;
  border-radius: 5px;
  padding: 2px 25px 2px 25px;
  margin: 10px 15px 0px 15px;
}
#addedItem button:hover {
  color: orange;
  background-color: black;
}

.user {
  height: 45px;
  width: 45px;
  color: orange;
  margin-top: 10px;
}

.user:hover {
  color: black;
}
#home {
  font-weight: bolder;
  font-style: italic;
}
#t-shirt {
  font-weight: bolder;
  font-style: italic;
}
#jeans {
  font-weight: bolder;
  font-style: italic;
}
#shoes {
  font-weight: bolder;
  font-style: italic;
}
/* ------------------------------------------------------------ */
/* login  $$ sign up*/
.form{
  z-index: 1;
  margin-top:45px;
  
  width: 100%;
  height: 650px;
  background-color: rgb(223, 223, 223);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border:5px solid orange; 
  border-radius:10px;
  padding: 25px;
  background-color:white;
}
.signup-form {
  display:flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border:5px solid orange; 
  border-radius:10px;
  padding: 25px;
  background-color:white;
}



 .btn4{
  z-index: 1;
  color: black;
  width: 70px;
  height: 70px;
  
  margin-bottom: 30px;
}
 .user-input{
  width: 320px;
  height: 55px;
  margin-bottom: 30px;
  
  background-color:rgba(255,255,255,0.2);
  color:black;
  font-size:18px;
  text-align: center;
  border-radius:5px;
  transition: 0.2s;
  

}

.user-input:hover ,.user-input:focus ,.user-input:active{
  border-left:  solid 8px orange;
  border-right:  solid 8px orange;
  box-shadow: 0px 0px 20px  rgb(255, 167, 15);
}

.btn{

width: 320px;
height: 55px;
background-color:orange;
border:2px solid black;
border-radius: 5px;
font-size: 18px;
font-weight: bold;
cursor: pointer;
transition: 0.2s;

}
.btn:hover{
  border-left:  solid 8px black;
  border-right:  solid 8px rgb(15, 15, 15);
  box-shadow: 0px 0px 20px  rgb(17, 17, 16);
}

.option-1{
  font-size: 14px;
  margin-top:30px;

}
.option-1 a{
  color :orange;
}

.light{
  color:orange;
  font-size: 18px;
  font-weight: bolder;
  font-style: italic;
  cursor: pointer;
}



